<AuthorizeView>
    <Authorized>
        <div class="menu">
            <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
            <label for="burger-checkbox" class="burger"></label>
            <ul class="menu-list">
                <li><NavLink href="Plays" Match="NavLinkMatch.All"><span class="menu-item">Спектакли</span></NavLink></li>
                <li><NavLink href="Reports"><span class="menu-item">Отчёты</span></NavLink></li>
                <li><NavLink href="Authors"><span class="menu-item">Авторы</span></NavLink></li>
                <AuthorizeView Roles="Директор" Context="DirectorContext">
                    <Authorized>
                        <li><NavLink href="Users"><span class="menu-item">Пользователи</span></NavLink></li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
    </Authorized>
</AuthorizeView>