.reports-filter-button, .reports-filter-button:hover{
    all: unset;
    cursor:pointer;
}
.ant-table table {
    text-align: center;
}
.ant-table-thead > tr > th{
     text-align: center;
}
.ant-table-thead > tr > th {
    background-color: var(--light-gray);
    color: black;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
    background-color: #708D81;
}
.ant-table-tbody {
    background-color: white;
}
.ant-table-container {
    background-color: #f0f2f5;
}
.arrow {
    all: unset;
    color:black;
}

    .arrow:hover {
        all: unset;
        cursor: pointer;
        color: black;
    }
.report-table .ant-table-content {
    width: 100% !important;
}