@page "/"
@{
    int i = 20;
}
<PageHeader Class="site-page-header" Title="Список спектаклей"/>
<div class="controls-container">
    <div class="search-string">
        <Input Placeholder="Введите название спектакля" @bind-Value="@txtValue"/> 
        <button class="search-button">
            <Icon Type="search" />
        </button>
        <br />
        <br />
        <Text>@txtValue</Text>
    </div>
    <a class="add-button">
        <Icon Type="plus-square" Width="35px" Height="35px" />
    </a>
</div>

<GridRow Gutter="(16, 24)">
    @while (i > 0)
    {
        <GridCol Style="flex: 0 0 20%; max-width: 250px;">
            <Card Title="Сказка о рыбаке и рабке">
            <Extra>
                <a class="move-forward-arrow"><Icon Type="arrow-right" Width="3em" Height="2em"/></a>
            </Extra>
            <Body>
                <p>108 спектаклей</p>
            </Body>
        </Card>
        </GridCol>
        i--;
    }
</GridRow>
<Pagination PageIndex="1" DefaultPageSize="20" Total="50"></Pagination>
@code {
    string txtValue { get; set; }
}