@page "/report"
@rendermode InteractiveServer
@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@inject ModalService ModalService;
@inject ConfirmService ComfirmService;


<PageHeader Class="site-page-header" Title="Список отчётов" />
<div class="controls-container">
    <div class="search-string">
        <Input Placeholder="Введите название отчёта" @bind-Value="@txtValue" />
        <button class="search-button">
            <Icon Type="search" />
        </button>
        <br />
        <br />
        <Text>@txtValue</Text>
    </div>
    <a class="add-button">
        <Icon Type="plus-square" Width="37px" Height="37px" />
    </a>
    <button class="reports-filter-button">    
        <Icon Type="filter" Width="37px" Height="37px" />
    </button>
</div>

<Table @ref="_table" TItem="ItemData" PageSize="10" Total="_total" DataSource="_dataSource" OnChange="OnChange">
    <ColumnDefinitions Context="row">
        <GenerateColumns />
        <ActionColumn>
            <a class="move-forward-arrow reports-arrow"><Icon Type="arrow-right" Width="3em" Height="2em" /></a>
        </ActionColumn>
    </ColumnDefinitions>
</Table>

@code {
    string txtValue { get; set; }
    List<ItemData> mockDb = new();
    ITable _table;
    List<ItemData> _dataSource;
    int _total;

    void OnChange(QueryModel<ItemData> query)
    {
        _total = mockDb.AsQueryable().ExecuteTableQuery(query).Count();
        _dataSource = mockDb.AsQueryable().ExecuteTableQuery(query).CurrentPagedRecords(query).ToList();
    }

    protected override void OnInitialized()
    {
        mockDb = Enumerable.Range(0, 20).Select(i => new ItemData { Title = $"Отчёт №{i + 1}", Type = "Оперативный", CreatedDate = $"24.09.2025", NameOfCreator = "Каспарова А.Д." }).ToList();
    }

    public class ItemData
    {
        [Required]
        [DisplayName("Название")]
        public string Title { get; set; }
        [DisplayName("Тип отчёта")]
        public string Type { get; set; }
        [DisplayName("Дата создания")]
        public string CreatedDate { get; set; }
        [DisplayName("Кем добавлен")]
        public string NameOfCreator { get; set; }
    }
}
