@page "/users"
@rendermode InteractiveServer
@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@inject ModalService ModalService;
@inject ConfirmService ComfirmService;


<div class="controls-container">
    <PageHeader Class="site-page-header" Title="Список пользователей" />
    <a class="add-button">
        <Icon Type="plus-square" Width="37px" Height="37px" />
    </a>
</div>

<Table @ref="_table" TItem="ItemData" PageSize="10" Total="_total" DataSource="_dataSource" OnChange="OnChange">
    <ColumnDefinitions Context="row">
        <GenerateColumns />
        <ActionColumn>
            <a><Icon Type="form" Height="2em" Width="2em" /></a>
            <a><Icon Type="delete" Height="2em" Width="2em" /></a>
        </ActionColumn>
    </ColumnDefinitions>
</Table>

@code {
    string txtValue { get; set; }
    List<ItemData> mockDb = new();
    ITable _table;
    List<ItemData> _dataSource;
    int _total;

    void OnChange(QueryModel<ItemData> query)
    {
        _total = mockDb.AsQueryable().ExecuteTableQuery(query).Count();
        _dataSource = mockDb.AsQueryable().ExecuteTableQuery(query).CurrentPagedRecords(query).ToList();
    }

    protected override void OnInitialized()
    {
        mockDb = Enumerable.Range(0, 20).Select(i => new ItemData { Surname = $"Рампампам", Name = "Азамат", FatherName = $"Стаханович", Job = "Кассир" }).ToList();
    }

    public class ItemData
    {
        [Required]
        [DisplayName("Фамилия")]
        public string Surname { get; set; }
        [DisplayName("Имя")]
        public string Name { get; set; }
        [DisplayName("Отчество")]
        public string FatherName { get; set; }
        [DisplayName("Роль")]
        public string Job { get; set; }
    }
}
